html {
background-color: #3366CC;
padding: 0 150px !important;
}

body {
    padding: 0 150px !important;
    margin: 0 !important;
    background-color: #3366CC;
}

p {
    margin: 0 !important;
    padding: 0 !important;
}

header {
    padding: 20px;
    display: flex !important;
    justify-content: space-between !important;
    font-size: 25px;
    background-color: #3366CC;
    border-radius: 0 0 5px 5px;
    color: #ECF0BC;
}

.list-links {
    display: flex;
    justify-content: space-between;
}

.link-item {
    margin-left: 20px;
}

.main-container {
    margin: 40px 0;
}

.card {
    margin-bottom: 40px;
    display: flex !important;
    justify-content: space-between !important;
    flex-direction: row !important;
    border: 2px solid #444444 !important;
}

.left-container {
    width: 50%;
}

.right-container {
    width: 50%;
    border-left: 2px solid #444444;
    padding: 20px;
}

.image-post img{
    width: 100%;
}

.tag_button {
    background-color: unset;
    border: none;
}

.block-tags {
    display: flex;
}

.post-photo {
width: 50px;
}

.comment-display {
    margin: 10px 0;
    border: 1px solid gray;
    padding: 10px;
    border-radius: 15px;
}

.title-comment {
    margin-left: 10px;
    font-size: 20px;
    margin-top: 10px;
}